body {
    font-family: sans-serif; /*шрифт без засечек на всей странице*/
    /*обнуляем отступы в браузере*/
    margin: 0;
    padding: 0;
}

.header {
    list-style-type: none; /*убрать маркеры*/
    background-color: white; /*цвет фона белый*/
    text-align: center; /*содержимое блока по центру*/
}

.menu {
    display: inline-block; /*делаем элементы списка строчными, сохраняя блочный тип*/
    padding: 35px; /*по макету внутренний отступ: верх, низ, между элементами списка*/
    color: #16a085; /*по макету цвет ссылок меню*/
    text-decoration: none; /*убираем подчеркивание*/
    font-weight: bold; /*делаем шрифт жирным*/
    text-transform: uppercase; /*делаем шрифт в верхнем регистре*/
    font-size: 20px;
}

.image {
    background-image: url("foto1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 790px;
}

.text {
    background-color: #f5f6f7;
    padding-bottom: 50px;
}

.text-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
    margin: 0;
}

.text-description {
    font-size: 16px;
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
}

.button-block {
    list-style-type: none;
    text-align: center;
    padding: 65px;
    display: block;
    background-color: #f5f6f7;
}

.button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
    background: #16a085;
    padding: 20px 45px;;
}

.footer {
    font-size: 15px;
    font-weight: bold;
    margin: 40px;
    padding-right: 75px;
    text-align: right;
}


